.container {
    margin-top: 8.5rem;
    height: calc(100vh - 70px);
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.imageContainer {
    position: relative;
    height: 67%;
    width: 100%;
}

.imageContainer>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imageContainer>.category {
    position: absolute;
    left: 0;
    white-space: nowrap;
    background-color: var(--secondary-orange);
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 20px;
    border-bottom-right-radius: 8px;
}

.propertyData {
    width: 100%;
    padding: 1rem;
}

.propertySection {
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-top: 1rem;
    color: var(--primary-orange);
    font-size: 38px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.controls>button {
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    background-color: green;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls>button:first-child {
    background-color: green;
}

.controls>button:last-child {
    background-color: red;
}   

.country{
    color: var(--primary-orange);
    font-size: 20px;
}

.type{
    color: #666;
    font-size: 18px;
}

.sqmeters{
    color: var(--primary-orange);
    font-size: 20px;
}

.beds{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #666;
    font-size: 18px;
}

.price{
    color: var(--primary-orange);
    font-size: 20px;
    font-weight: bold;
}